.section {
    /*background-color: red;*/
}

.container {
    padding: 0 6rem;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    margin-top: 3.2rem;
    font-size: 4.2rem;
    font-family: 'Poppins', sans-serif; /* Set font family to Poppins */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 6rem auto;
}

.grid_card {
    padding: 2rem 4rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out; /* Add transition for scale-up effect */
}

.grid_card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.grid_card span {
    display: inline-block;
    transition: transform 200ms;
}

.grid_card h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif; /* Set font family to Poppins */
}

.grid_card p {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Set font family to Poppins */
}

.grid_card p:last-child {
    margin-bottom: 3.2rem;
}

.grid_card .last_para {
    margin-bottom: 3.2rem;
}

.grid_card i {
    font-size: 4.2rem;
    color: #ffda79;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 999px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        margin: 6rem auto;
    }

    .grid_card {
        padding: 2rem 2rem; /* Adjust padding for smaller screens */
    }
}

@media screen and (max-width: 780px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
        margin: 6rem auto;
    }

    .grid_card {
        padding: 2rem 1rem; /* Further adjust padding for smaller screens */
    }
}
