/* src/app/components/RacImage.module.css */

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
    margin: 0 90px;
  }
  
  .imageContainer {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 220px; /* Adjust width as needed */
    height: 220px; /* Adjust height as needed */
    text-align: center;
    background-color: #fff;
  }
  
  .imageContainer:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.2s;
    border-radius: 15px;
  }
  
  .imageContainer:hover .image {
    transform: scale(1.1);
  }
  
  
  @keyframes shine {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  

  /* For screens smaller than 768px */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap as needed */
    margin: 0 10px; /* Adjust the margin as needed */
  }

  .imageContainer {
    width: 100%; /* Adjust the width to take the full width of the container */
  }
}

.headingimage{
  position:relative;
  font-size:3vw;
  color:#252839;
  -webkit-text-stroke:0.3vw #383d52;
  text-transform:uppercase;
  text-align:center;
}

.headingimage::before{
  content:attr(data-text);
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:100%;
  color: #ffda79;
  -webkit-text-stroke:0.3vw #383d52;
  border-right: 2px solid  #ffda79;
  overflow:hidden;


}

@keyframes animate{
  0%,10%,100%{
    width:60%;
  }
  70%,90%{
    width:100%;
  }
}